/* structure CSS */

body {
    font-family: 'Open Sans', sans-serif;
    color: #280025;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
}

section {
    padding-bottom: 50px !important;
}

h1 {
    text-align: center;
    margin: 0.25em 0;
    padding: 0.25em;
    font-family: 'Roboto Slab', serif;
}

h2 {
    text-align: center;
    margin: 0.25em 0;
    padding: 0.25em;
    font-family: 'Roboto Slab', serif;
}

.title-align-left {
    text-align: left;
}

.link {
    font-style: normal;
    color: #280025 !important;
    display: block;
    cursor: pointer;
    width: 200px;
    text-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.1);
}

.link:hover {
    font-style: normal;
    font-weight: bolder;
    color: #28a745 !important;
    display: block;
    cursor: pointer;
    width: 200px;
    text-shadow: 0.05rem 0.05rem #d7ffda;
}

.link-below {
    font-style: italic;
    color: #280025 !important;
    font-size: 18px;
    margin-top: 15px;
    display: block;
    cursor: pointer;
    width: 200px;
    text-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.1);
}

.link-below:hover {
    font-style: italic;
    color: #28a745 !important;
    font-size: 18px;
    margin-top: 15px;
    display: block;
    cursor: pointer;
    width: 200px;
    text-shadow: 0.05rem 0.05rem #d7ffda;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

/* buttons */

.buttonShadow {
    background-color: #280025;
    border: #333333;
    box-shadow: 0.125rem 0.125rem #cccccc;
}
.buttonShadow:hover {
    color: #280025;
    background-color: #d7ffda;
    box-shadow: 0.125rem 0.125rem #333333;
}


/* Navbar CSS */

.navbar-nav {
    margin-right: unset !important;
    margin-left: auto;
}

nav a {
    color: whitesmoke !important;
}

nav a:hover {
    color: #d7ffda !important;
    text-shadow: 0.05rem 0.05rem #28a745; 
}

nav a:active {
    color: whitesmoke !important;
    text-shadow: 0.05rem 0.05rem rgba(255, 255, 255, 0.75); 
}

.cglogo img:hover {
    -webkit-filter: invert(100%);
}

/* Jumbotron CSS */

.jumbotron {
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cgcontactbg.png);
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotronhomear {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(../images/HomeAR.Logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotrontlg {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(../images/TLG.Logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotrondoi {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(../images/DOI.CaseStudy.web.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.jumbotrondsf {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(../images/DSF.CaseStudy.web.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

/* Work Section */

.cardPadding {
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem #cccccc;
    padding: 0.25rem;;
}

.cardPadding:hover {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem #333333cc;
}

.flexRow {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.card {
    border: unset !important;
}

.card img {
    max-width: 100%;
    max-height: auto;
}

img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.img-reveal {
    transition: background-color 2s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}

img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
 }


.skillstuff {
    background-color: #cccccc;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 14.285714% 14.285714% 14.285714% 14.285714% 14.285714% 14.285714% 14.285714%; 
}

.skillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 10 1rem;
}

.textCenter {
    text-align: center;
    margin-top: 15px;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: inset 0 1px 1px #d7ffda, 0 0 8px #d7ffda;
  }


/* Contact CSS */

.contactMe {
    height: 75vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cgcontactbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.contactMe img {
    max-width: 250px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    max-width: 35rem;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
}

/* Social */

.button-github:hover {
    -webkit-filter: invert(100%);
}

.button-linkedin:hover {
    -webkit-filter: invert(100%);
}

.button-behance:hover {
    -webkit-filter: invert(100%);
}

/* Footer Styles */

footer {
    padding: 15px;
}

.blockquote {
    border-left: 2px solid white;
    max-width: 580px;
    margin: 1rem auto;
}

blockquote p {
    margin-bottom: 0;
    margin-left: 15px;
    color: white;
}

.quotePerson {
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem rgba(255, 255, 255, 0.25);
}

/* grid container */

.container {
    padding: 25px;
    border-radius: 25px;
}

.container-title {
    padding: 25px;
    border-radius: 25px;
    background-color: #f5f5f5;
    opacity: 85%;
}

.container-shadow {
    background-color: #f5f5f5;
    border: #333333;
    box-shadow: 0.25rem 0.25rem #cccccc;
    border-radius: 25px;
}
.container-shadow:hover {
    color: #280025;
    background-color: #d7ffda;
    box-shadow: 0.25rem 0.25rem #333333;
    border-radius: 25px;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
}


.card-pad {
    padding-left:2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

/* Preloader*/
/*
.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    top: 0;
    display: flex;
    align-items: center;
}

.preloader img {
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
*/